.box1{
    background-color: #89bbe5;
}
.box2{
    background-color: #abd9ab;
}
.box3{
    background-color: #9ec4e3 !important;
}
.box4{
    background-color: #d7d6d6 !important;
}
.box5{
    background-color: #d9d0a9 !important;
}
.box6{
    background-color: #d7b2cd !important;
}
.box7{
    background-color: #d7d6d6 !important;
}
.box8{
    background-color: #bebebe;
}
.box9{
    background-color: #d7d6d6 !important;
}
