.item{
    background-color: #9d30ab;
    color: white;
    border: 1px solid white;
}
.box{
 border-radius: 10px;
}
.ss{
    border: 1px solid rgba(255, 0, 255, 0.39);
}
.sss{
    border: 1px solid #7313ce;
}
.ddd{
    border: 1px solid blue;
    margin-top: 110px;
}
.aa{
    border: 1px solid red;
    margin-top: 110px;
    margin-left: 100px;
    border-radius: 5px;
}
.x{
    margin-top: -385px;
    margin-left: -1px;
}
.xx{
    margin-top: -385px;
}
.dd{
    color: white;
    height: 30px;
}
.w{
    width: 300px;
}
.ww{
    border: 1px solid limegreen;
}
.nn{
    color: white;
    width: 150px;

}
.nnn{
    border: 1px solid limegreen;
    margin-top: 30px;
    margin-left: 90px;
    width: 323px;
}
.f{
    margin-left: 50px;
}
.ff{
    margin-left: 860px;
    margin-top: -210px;
}
.mop{
    border-radius: 7px;
    background-color: #005cbf !important;
}
.ron{
  background-color: #005cbf !important;
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
